{% extends 'base.html.twig' %}

{% block title %}Snow Tricks
{% endblock %}

{% block body %}
	<!-- Portfolio -->
	<section class="content-section" id="tricks">
		<div class="container-fluid  ">
			<div class="d-flex flex-wrap justify-content-around no-gutters ">
				{% for Trick in Tricks %}
					<div class="card m-3 p-0 col-lg-2 col-auto">
						<a class="portfolio-item" href="#!">
							<img class="img-fluid" src="img/portfolio-1.jpg" alt="Card image">
							<div class="card-body d-flex">
								<h5 class="card-title mr-auto mx-auto p-1 text-primary">{{Trick.title}}</h5>
								<div class="ml-auto">
									<a href="" class="fa fa-edit fa-lg p-1 text-primary"></a>
									<a href="" class="fa fa-trash fa-lg p-1 text-primary"></a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
